<!-- Navbar -->
<div class="container d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="static/favicon.png" alt="" width="45" height="45">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">Yami Studio</h1>
        <small>Index</small>
    </div>
    <div class="ms-auto">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar anime...">
            <button class="btn btn-outline-light" type="button" id="clearSearch">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</div>